
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	font-size:16px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












/* --- site-wide-layout --- */
/* 0 - 767px */
  .sw-layout{
     display:grid;
     grid-template-areas: "mn";
     grid-gap: 20px;
    }

   .sw-takeover-left {
     background-color:yellow;
     grid-area: tl;
     display:none;
   }
    .sw-content {
     grid-area: mn;
    }
   .sw-takeover-right {
     background-color:yellow;
     grid-area: tr;
     display:none;
  }


/* 768px - 1023px */
 @media only screen and (min-width: 48em) {

   .sw-layout{
     grid-template-areas: "mn mn mn";
     grid-template-columns: auto 620px auto;
     grid-gap: 20px;
    }

}

/* 1023px - 1440px */
 @media only screen and (min-width: 64em) {

 .sw-layout{
  grid-template-areas: "mn mn mn";
  grid-template-columns: auto 940px auto;
  grid-gap: 20px;
}

}

/* 1440px or greater */
 @media only screen and (min-width: 90em) {

    .sw-layout{
    display:grid;
    grid-template-areas: "tl mn tr";
    grid-template-columns: auto 1260px auto;
    grid-gap: 20px;
  }

    .sw-takeover-left {
     display:block;

   }

   .sw-takeover-right {
     display:block;

   }
}






/* --- site-wide-grid --- */

/* 0 - 767px */
.sw-grid{
  display:grid;
  grid-template-columns:repeat(72px, 4);
  grid-gap: 10px;
  background-color:#ff4f4f;
  margin: 0 auto;
  width:360px;
}

.sw-grid-inner{
  background-color:#d8ff00;
  text-align:center;
}

.sw-grid-header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  background-color:#ea925e;
  height:50px;
}

.sw-grid-banner {
  grid-column: 1 / 5;
  grid-row: 2 / 2;
  background-color:#6d6dff;
}

/* 767px - 1023px */
 @media only screen and (min-width: 48em) {

 .sw-grid{
  display:grid;
  grid-template-columns:repeat(60px, 8);
  grid-gap: 20px;
  margin: 0 auto;
  width:620px;
}

.sw-grid-inner{

  text-align:center;
}

.sw-grid-header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  height:50px;
}

.sw-grid-banner {
  grid-column: 1 / 9;
  grid-row: 2 / 2;
}

}

/* 1023px - 1440px */
 @media only screen and (min-width: 64em) {

 .sw-grid{
  display:grid;
  grid-template-columns:repeat(60px, 12);
  grid-gap: 20px;
  margin: 0 auto;
  width:940px;
}

.sw-grid-inner{
  text-align:center;
}

.sw-grid-header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  height:50px;
}

.sw-grid-banner {
  grid-column: 1 / 13;
  grid-row: 2 / 2;
}

}

/* 1440px or greater */
 @media only screen and (min-width: 90em) {

 .sw-grid{
  display:grid;
  grid-template-columns:repeat(60px, 16);
  grid-gap: 20px;
  margin: 0 auto;
  width:1260px;
}

.sw-grid-inner{
  text-align:center;
}

.sw-grid-header {
  grid-column: 1 / 17;
  grid-row: 1 / 2;
  height:50px;
}

.sw-grid-banner {
  grid-column: 1 / 17;
  grid-row: 2 / 2;
}


}
